<h1>About the app</h1>
<p >This is a prompt engineering application, which used to recommand local visting spots after users input a 'place name'</p>
<p >This application is built by Yuxiang Wan, who is a student in Brandeis Unviersity</p>
<br>
<p >Here is a Example:</p>
<p >If you input 'Boston', </p>
<p>it will return "area 1. Fenway Park: Located in the heart of Boston's" as the most popular place in Boston</p>
<br>
<p >Besides, in the navbar, there is a button called 'prevDialog' will take to the page where all the previous questions and answers that current users asked</p>

